.ie-div-showInputs {
    background-color: rgba(243, 0, 246);
    margin: 0.75rem;
}

.ie-inputSettings{
    margin-top: 0.375rem;
    display: block;
    width: 100%;
    border: 1px;
    border-color: lightgray;
    border-radius: 0.375rem;
    
    padding: 0.5rem 0.75rem;
}

.inputSettings:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: blue;
    font-size: 0.875rem;
    line-height: 1.25rem;
}